<header id="top-header">
    <span class="siteName">
      <img src="/images/site/icon.png" alt="CSE Logo">
      <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <!--#####Task 1: Creates a header with a client logged in and out, with a hidden "My Account link"#####-->
    <div id="tools">
       <% if (locals.loggedin) { %>
        <a href="/account">Welcome <%= accountData.account_firstname %></a>
        <a href="/account/logout">Logout</a>
       <% } else { %>
        <a title="Click to log in" href="/account/login">Log in</a>
       <% } %>

      <!-- <a title="Go to account management" href="/account/">Welcome -name </a> -->
      <!-- <a title="Log Out" href="/account/logout">Log out</a> -->
    </div>
  </header>