<h1>Welcome to CSE Motors!</h1>

<%# W6 This is a flash message item. %>
<div id="messages">
  <%- messages() %>
</div>

<div class="hero">
  <img src="/images/vehicles/delorean.jpg" alt="Dolorean">
  <div class="hero-text">
    <h1>DMC Delorean</h1>
    <ul>
      <li>3 Cup holders</li>
      <li>3 Includes two doors</li>
      <li>Fuzzy dice!</li>
    </ul>
      <a href="/"><img src="images/site/own_today.png" alt="own today">
      </a>
  </div>
</div>

<div class="content">
  <div class="content-a">
    <h2>Delorean Upgrades</h2><br>
    <div class="gallery">
    <div class="caption-image">
      <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
      <p>Flux Capacitor</p>
    </div>
    <div class="caption-image">
      <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
      <p>Flame Decals</p>
      </div>
      <div class="caption-image">
        <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
        <p>Hub Caps</p>
      </div>
      <div class="caption-image">
        <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
        <p>Bumper Stickers</p>
      </div>
  </div>
</div>
  <div class="content-b">
    <h2>DMC Delorean reviews</h2>
      <ul>
        <li>"So fast it's almost like traveling in time." (5/5)</li>
        <li>"Coolest ride on the road." (5/5)</li>
        <li>"Feels like a breeze" (4/5)</li>
        <li>"The most futuristic ride of our day" (4/5)</li>
        <li>"80s livin' and I love it!" (4/5)</li>
      </ul>
  </div>
</div>